body {
  background-color: #fef5e6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 50px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
}

.profile-image {
  // height: inherit;
  height: 100%;
  width: 50%;
}

.profile-image img {
  // width: 70%;
  // max-width: 100%;
  // height: inherit;
  border-radius: 10px;
  height: 100%;
  width: 50%;
}

.photo-gallery {
  height: 80vh;
  display: flex;
  padding: 8px;
  gap: 8px;
}

.photo {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  height: inherit;
}

.photo img {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 200px;
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.location {
  display: flex;
  align-items: center;
}

.user-icon {
  background-color: #ccc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  margin-right: 40px;
}

.user-details {
  font-size: 18px;
}

.availability {
  text-align: right;
}

.availability button,
.btn {
  padding: 15px 30px;
  background-color: #f298a8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  margin-top: auto; /* Push the button to the bottom of the card */
  align-self: flex-start; /* Align the button to the left */
}

.footer {
  padding: 20px;
  background-color: #30207c;
  color: white;
  text-align: center;
}

.card {
  background-color: white; /* White background for the cards */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Padding inside the card */
  margin: 20px; /* Space between cards */
}

.details {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px; /* Padding for spacing within the details section */
}

.main-image {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-images {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.secondary-image {
  background-color: red;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
