<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <%= image_tag "logo", alt: "logo_date_faker", width: "auto", height: "120" %>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <ul>
            <a href="#"><h3>A propos</h3></a>
            <a href="#"><h3>Réserver un fake date</h3></a>
            <a href="#"><h3>Offrir un service</h3></a>
            <a href="#"><h3>Carrière</h3></a>
          </ul>
        </div>
        <div class="col-md-6 item text">
            <h3>Date Faker</h3>
            <p>Amour sans détour! <br> Trouve ton fake date pour tous les évènements en 1 clic</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="fa-brands fa-facebook fa-xl icon ion-social-facebook"></i></a>
          <a href="#"><i class="icon ion-social-twitter fa-brands fa-instagram fa-xl"></i></a>
          <a href="#"><i class="icon ion-social-snapchat fa-brands fa-github fa-xl"></i></a>
          <a href="#"><i class="icon ion-social-instagram fa-solid fa-poo fa-xl"></i></a>
        </div>
      </div>
    </div>
    <p class="copyright">Date Faker © 2024</p>
  </footer>
</div>
