<nav class="navbar">
  <div class="navbar-logo">
      <%= image_tag "logo", alt: "logo", width: "auto", height: "120" %>
      <div class="text-logo">
        <p><strong>Date Faker</strong></p>
      </div>
  </div>
  <div class="navbar-search navbar-offer">
      <input type="text" placeholder="Où">
      <input type="text" placeholder="Quand">
      <button type="submit">Rechercher</button>
  </div>

  <div class="navbar-offer">
      <button class="offer-btn">Je dépose une offre</button>
  </div>
</nav>
