
<div class="navbar">
  <div class="logo">Date Faker</div>
    <%= image_tag "logo", alt: "logo", id:"logo" %>
    <div class="search-bar">
      <input type="text" placeholder="Anywhere">
      <input type="text" placeholder="Any week">
      <input type="text" placeholder="Add guests">
  </div>
  <div class="profile-icon">JL</div>
</div>

<main>
  <h1>One-day marriage date with JL</h1>
  <div class="profile">
    <div class="profile-image">
        <%= image_tag "jlo", alt: "jlo", width: "auto", height: "230" %>
    </div>
    <div class="photo-gallery">
        <div class="photo"></div>
        <div class="photo"></div>
        <div class="photo"></div>
        <div class="photo"></div>
    </div>
  </div>

  <section class="details">
    <div class="location">
        <div class="user-icon">JL</div>
        <div class="user-details">
            <h2>Jennifer Lopez</h2>
            <p>Age: 50 years old</p>
            <p>Height: 1.75m</p>
            <p>Occupation: Singer</p>
        </div>
    </div>
      <div class="availability">
        <p>Availabilities: Every Saturday afternoon</p>
      <div class="btn">
        <%= link_to "Booker", new_offer_booking_path(@offer)%>
      </div>
  </section>
</main>
