.delete-btn {
  padding: 10px 16px;
  text-decoration: none;
  background-color: #e52323;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 100%;
  width: 40%;
  text-align: center;
  position: absolute;
  height: 45px;
  bottom: 10px;
  width: 150px;
  left: 100px;
}
