/* Général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fef5e6;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef5e6;
  padding: 10px 50px;
}

.navbar > a {
  text-decoration: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-logo img {
height: 80px;
}

.text-logo p {
  margin-left: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #30207c;
}
.text-logo a{
  text-decoration: none;
}

.navbar-search-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  text-decoration: none;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  padding: 5px 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-search input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 25px;
  flex: 1;
  min-width: 0;
}

.navbar-search button {
  padding: 10px 16px;
  background-color: #f298a8;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.navbar-offers {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligne les éléments à droite */
}

.navbar-offer {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Un petit espace entre les éléments */
}

.navbar-offer .offer-btn {
  padding: 10px 16px;
  background-color: #fef5e6;
  color: #30207c;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
}

.text-logo {
  color: #30207c;
  text-decoration: none;
}

.real-connections-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  background-color: #fef5e6;
  margin-right: 80px;
}

.text-content-index h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
}

.text-content-index .description {
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #7da4f8;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #00000022;
  margin-top: 20px;
}

.index-title {
  font-size: 28px;
  color: #000000;
  font-weight: 700;
  margin-left: 18px;
  text-align: start;
}

.highlight {
  color: #f598a8;
}

.description {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
  margin: 20px 0;
}

.cta-button {
  background-color: #7da4f8;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #00000022;
  margin-top: 20px;
  }

.category .title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.box {
  flex: 0 1 calc(16.66% - 10px);
  box-sizing: border-box;
  padding: 30px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 4px;
  box-shadow: 4px 4px 4px #30207c;
  overflow: hidden;
  margin: 0;
}

.offers {
  background-color: #b3c6f1;
  color:  #b3c6f1;
  padding: 0px 0;
  border-radius: 5px;
}

.offers .second-title {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

.offers .d-flex.flex-row {
  justify-content: center;
  border: solid #fef5e6;
  background-color: #fef5e6;
}

.offers .d-flex.flex-row a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 16px;
}

.offer-box {
  text-align: center;
  width: 150px;
}

.offers .d-flex.flex-row img {
  border-radius: 4px;
}

.cta-button {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  color: #000000;
}
.highlight {
  color: #f598a8;
}
.description {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}
.cta-button { /* btn booker */
  background-color: #7da4f8;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #00000022;
  margin-top: 20px;
}

.image-content {
  position: relative;
  max-width: 50%;
}

.image-index {
  padding-right: 120px;
}

.left-character, .right-character {
  width: 45%;
  position: absolute;
}
.left-character {
  left: 0;
  bottom: 0;
}
.right-character {
  right: 0;
  bottom: 0;
}
.heart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.heart-icon img {
  width: 200px;
}
.background-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-elements img {
  position: absolute;
}
.background-elements img:nth-child(1) {
  top: 10%;
  left: 5%;
}
.background-elements img:nth-child(2) {
  top: 10%;
  right: 5%;
}
.category {
  background-color: #b3c6f1;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #30207c; /* Couleur du texte pour le titre */
}
.second-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #30207c;
}
.category {
  background-color: #b3c6f1;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  color: #30207c;
}

.cards-collection {
  max-width: 1200px;
  padding: 0 8px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds space between the cards */
  width: 100%; /* Makes the collection take up the full width of its parent container */
  max-width: 1200px; /* Optionally, set a maximum width if you don't want it too wide */
  margin: 0 auto; /* Center the collection horizontally */
  padding: 0
}

.box {
  box-sizing: border-box;
  padding: 16px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 4px;
  box-shadow: 4px 4px 4px #30207c;
  overflow: hidden;
  margin: 0;
  flex: 1 1 calc(33.333% - 20px); /* Flex-basis + gap adjustment */
  max-width: calc(33.333% - 20px); /* Max-width to ensure proper spacing */
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  transition: transform 0.5s ease;
}

.box:hover img {
  transform: scale(1.2);
}

.step-box {
  background-color: #b3c6f1;
  display: flex;               /* Enable flexbox layout */
  flex-direction: column;      /* Stack children vertically */
  justify-content: center;     /* Center content vertically */
  align-items: center;         /* Center content horizontally */
  height: 150px;               /* Set a fixed height for the step box */
  padding: 20px;               /* Optional: Add padding for spacing */
  border-radius: 8px;          /* Optional: Add rounded corners */
}

.step-box .index-box-item {
  text-align: center;          /* Center text within the h2 */
  margin: 0;                   /* Remove default margin */
  font-size: 1.5rem;           /* Adjust font size if necessary */
  padding-bottom: 0;
}

@mixin white-gradient {
	background: #fef5e6;
}

.description {
  margin: 16px;
}

.text-content-index {
  max-width: 70%;
}
