body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef5e6;
  padding: 10px 20px;
  color: white;
}

.navbar-logo img {
  height: 50px;
}

.text-logo {
  color:#30207c;
}
.navbar-search-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  padding: 5px 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-search input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 25px;
  flex: 1;
  min-width: 0;
}

.navbar-search input[type="text"]:last-of-type {
  margin-right: 0;
}

.navbar-search button {
  padding: 8px 16px;
  background-color:#f298a8;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.navbar-offer .offer-btn {
  padding: 8px 16px;
  background-color: #30207c;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.navbar-offer .cta-button .offer-btn:hover,
.navbar-search button:hover {
  background-color: #7da4f8;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fef5e6;
}
.real-connections-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #fef5e6;
  position: relative;
}

.text-content {
  max-width: 40%;
  text-align: center;
}
h1 {
  font-size: 48px;
  color: #000000;
}
.highlight {
  color: #f598a8;
}
.description {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}
.cta-button { /* btn booker */
  background-color: #7da4f8;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #00000022;
  margin-top: 20px;
}

.image-content {
  position: relative;
  max-width: 50%;
}
.left-character, .right-character {
  width: 45%;
  position: absolute;
}
.left-character {
  left: 0;
  bottom: 0;
}
.right-character {
  right: 0;
  bottom: 0;
}
.heart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.heart-icon img {
  width: 200px;
}
.background-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-elements img {
  position: absolute;
}
.background-elements img:nth-child(1) {
  top: 10%;
  left: 5%;
}
.background-elements img:nth-child(2) {
  top: 10%;
  right: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 30px;
}

.box {
  flex: 0 1 calc(16.66% - 10px);
  box-sizing: border-box;
  padding: 30px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 4px;
  box-shadow:4px 4px 4px #30207c;
  overflow: hidden;
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  transition: transform 0.5s ease;
}

.box p {
  margin: 0;
  font-size: 14px;
}

.box:hover img {
  transform: scale(1.2);
}

.offers-category {
  display: flex;
  box-sizing: border-box;
  background-color:#b3c6f1 ;
  padding: 30px;
  border-radius: 4px;
  overflow: hidden;
}

.avatar {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.offers-category p{
  margin: 0;
  font-size: 14px;
}
